@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
body {
  font-family: "Lora", serif;
  background-color: #f0f2f5;
}

.logo {
  float: left;
  margin-left: 16%;
  margin-right: 8%;
  margin-top: 4%;
  width: 250px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.logo:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
table {
  background-color: #3e4750;
  border-collapse: collapse;
  margin-left: 14%;
  width: 75%;
  height: 200px;
  color: white;
}
table thead {
  background-color: #bf0000;
  color: white;
  border-bottom: solid 5px black;
}
table th {
  font-family: "Viga", sans-serif;
}
table th, table td {
  padding: 20px;
  text-align: center;
}
table tr.marcado {
  border: 3px solid blue;
}
table tr.oculto {
  display: none;
}
table tr:nth-child(even) {
  background-color: #242b31;
}
table tr:hover td {
  background-color: #bf0000;
  color: white;
}
table tr.desactivado {
  display: none;
}

.tablaExamen {
  float: left;
  width: 550px;
  height: 600px;
  margin-left: 4%;
  overflow-y: scroll;
}
.tablaExamen th, .tablaExamen td {
  width: 100%;
  padding: 20px;
  text-align: center;
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
form {
  margin: auto;
  background-color: white;
  color: black;
  padding: 2%;
  border-radius: 8px 8px 8px 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  line-height: 25px;
  margin-top: 6%;
  width: 450px;
}
form.login {
  float: left;
  width: 350px;
  height: 350px;
}
form.login input[type=checkbox] {
  width: 10%;
  height: 6%;
  display: block;
  margin-bottom: 4%;
}
form.login h1 span {
  color: #dd2a1b;
}
form.cambiaContrasenia {
  float: left;
  height: 280px;
}
form.examen {
  width: 80%;
  height: 80%;
}
form.examen input:not([type=submit]) {
  font-size: 130%;
  width: 40%;
  height: 5%;
  padding: 5px;
}
form.examen input:not([type=submit]).pequenio {
  width: 6%;
}
form.examen input[type=submit] {
  margin-top: 8%;
  margin-left: 45%;
  width: 100px;
  height: 50px;
}
form.examen section {
  float: left;
  width: 700px;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 2%;
}
form.examen span.fa-search {
  position: absolute;
  margin-top: 6%;
  margin-left: 8%;
}
form.examen #filtro {
  float: left;
  margin-top: 2%;
  border-radius: 20px 20px 20px 20px;
  font-size: 130%;
  width: 18%;
  padding: 5px;
  padding-left: 10px;
}
form.pregunta {
  width: 580px;
}
form.pregunta input[type=text] {
  font-size: 130%;
  width: 70%;
  height: 5%;
  margin-left: 5%;
  padding: 5px;
}
form.pregunta input[type=radio] {
  float: left;
  width: 15px;
  height: 15px;
  margin-left: 5%;
}
form.pregunta label {
  margin-top: 2%;
}
form.pregunta input[type=file] {
  font-size: 130%;
}
form p {
  color: red;
  margin-left: 10%;
  position: absolute;
  font-size: 100%;
  font-weight: bold;
}
form h1 {
  font-family: letraH1;
  text-align: center;
  font-size: 160%;
  margin-bottom: 3%;
}
form label {
  display: block;
  color: black;
  font-size: 130%;
  text-align: left;
}
form input[type=text] {
  border-radius: 5px 5px 5px 5px;
  font-size: 120%;
  width: 90%;
  padding: 2%;
  -webkit-transition: box-shadow 1s linear;
  -webkit-transition: -webkit-box-shadow 1s linear;
  transition: -webkit-box-shadow 1s linear;
  transition: box-shadow 1s linear;
  transition: box-shadow 1s linear, -webkit-box-shadow 1s linear;
}
form input[type=text]:hover {
  -webkit-box-shadow: 0px 8px 8px black;
          box-shadow: 0px 8px 8px black;
}
form input[type=file] {
  border-radius: 5px 5px 5px 5px;
  font-size: 120%;
  width: 90%;
  padding: 2%;
}
form input[type=password] {
  border-radius: 5px 5px 5px 5px;
  font-size: 120%;
  width: 90%;
  padding: 2%;
}
form input[type=date] {
  border-radius: 5px 5px 5px 5px;
  font-size: 120%;
  width: 90%;
  padding: 2%;
}
form .recuerdame {
  float: left;
}
form select {
  width: 150px;
  padding: 3px;
  font-size: 130%;
  margin-bottom: 3%;
}
form table {
  display: inline;
}
form .modificacion:-moz-read-only {
  display: block;
}
form .modificacion:read-only {
  display: block;
}
form .insertar {
  display: none;
}
form span {
  font-weight: bold;
  color: #bf0000;
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
header {
  background-color: white;
  height: 130px;
  -webkit-box-shadow: 0px 8px 8px black;
          box-shadow: 0px 8px 8px black;
  margin-bottom: 5%;
}
header img {
  float: left;
  margin-top: 1%;
  margin-left: 5%;
  width: 150px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
header img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
header nav {
  float: left;
  margin-top: 2%;
  margin-left: 5%;
}
header .social {
  position: absolute;
  margin-left: 60%;
  margin-top: 2%;
}
header .social ul {
  list-style: none;
  display: block;
}
header .social ul li {
  list-style: none;
  display: inline;
  float: left;
  height: 25px;
  width: 60px;
  font-size: 25px;
}
header .social ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #bf0000;
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
header .social ul li a.fa-twitter:hover {
  padding: 15px 15px;
  background: #1da1f2;
}
header .social ul li a.fa-instagram:hover {
  padding: 15px 15px;
  background: #d22181;
}
header .social ul li a.fa-facebook:hover {
  padding: 15px 15px;
  background: #4968aa;
}
header #fotoUsu {
  float: left;
  margin-left: 30%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: black;
}
header .editarSalir a {
  background-color: #bf0000;
  color: white;
  border-radius: 50%;
  margin-top: 11px;
  margin-left: 2%;
  padding: 1%;
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
nav {
  -webkit-box-shadow: 0px 10px 10px black;
          box-shadow: 0px 10px 10px black;
  width: 570px;
  background-color: #bf0000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul li:hover > ul {
  display: block;
}
nav ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #242b31;
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 10px 10px black;
          box-shadow: 0px 10px 10px black;
}
nav a {
  font-family: "Viga", sans-serif;
  text-decoration: none;
  font-size: 23px;
  color: white;
  padding: 12px 20px;
  display: block;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
}
nav a:hover {
  background-color: #bf0000;
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
footer {
  width: 96%;
  height: 350px;
  bottom: 0;
  margin-top: 6%;
  background-color: #242b31;
  color: white;
  padding: 2%;
  border-top: solid #bf0000 6px;
}
footer h1 {
  font-size: 30px;
  margin-left: 10%;
  margin-bottom: 1%;
}
footer iframe {
  float: left;
  width: 400px;
  height: 300px;
  margin-left: 2%;
}
footer ul {
  float: left;
  list-style: none;
  display: block;
  margin-left: 8%;
  font-size: 18px;
  color: white;
}
footer ul p {
  color: #f0f2f5;
  margin-bottom: 15%;
}
footer ul li {
  list-style: none;
  display: block;
  margin-bottom: 18%;
}
footer ul a {
  color: white;
  -webkit-transition: color 1s linear;
  transition: color 1s linear;
}
footer ul a:hover {
  color: #bf0000;
  text-decoration: none;
}
footer hr {
  float: left;
  width: 900px;
  height: 2px;
  background-color: white;
  margin-top: 2%;
  margin-left: 6%;
  border: solid white;
  border-radius: 10px 10px 10px 10px;
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
input[type=submit] {
  font-size: 130%;
  border-radius: 5px 5px 5px 5px;
  background-color: #bf0000;
  color: white;
  border-color: #bf0000;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
input[type=submit]:hover {
  transform: scale(1);
  -webkit-transform: scale(1.2);
}

.paginacion {
  margin-left: 37%;
  margin-top: 3%;
}
.paginacion button {
  width: 70px;
  font-size: 130%;
  background-color: #3e4750;
  color: white;
  border-color: #3e4750;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
}
.paginacion button.activo {
  background-color: #bf0000;
}
.paginacion button:hover {
  background-color: #bf0000;
}
.paginacion button.dudosa {
  background-color: orange;
}

.botones button {
  width: 200px;
  background-color: #bf0000;
}

.gris {
  float: left;
  width: 30px;
  height: 30px;
  background: #3e4750;
  border-radius: 50%;
}

.rojo {
  float: left;
  width: 30px;
  height: 30px;
  background: #bf0000;
  border-radius: 50%;
}

.naranja {
  float: left;
  width: 30px;
  height: 30px;
  background: orange;
  border-radius: 50%;
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}
main#contenedorExamen {
  width: 70%;
  margin-left: 15%;
}
main#contenedorExamen .desactivo {
  display: none;
}
main#contenedorExamen section {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  background: white;
  display: inline-block;
  padding: 2%;
  -webkit-box-shadow: 0px 8px 8px black;
          box-shadow: 0px 8px 8px black;
}
main#contenedorExamen section h1 {
  font-family: letraH1;
  float: left;
  font-size: 127%;
}
main#contenedorExamen section h2 {
  float: left;
  margin-left: 2%;
  font-size: 130%;
  width: 570px;
  margin-right: 3%;
  margin-bottom: 3%;
}
main#contenedorExamen section img {
  float: left;
  margin-top: 3%;
  width: 300px;
  height: 300px;
  margin-right: 1%;
}
main#contenedorExamen section div {
  display: block;
  font-size: 130%;
  margin-top: 2%;
  margin-left: 40%;
}
main#contenedorExamen section button {
  margin-top: 5%;
  margin-left: 3%;
  padding: 1%;
  background: #bf0000;
  color: white;
}

@font-face {
  font-family: letraH1;
  src: url(../../fonts/Merienda-Bold.ttf);
}
@font-face {
  font-family: letramenu;
  src: url(../../fonts/Viga-Regular.ttf);
}
@font-face {
  font-family: letraPrincipal;
  src: url(../../fonts/Lora-VariableFont_wght.ttf);
}/*# sourceMappingURL=main.css.map */