// Estilos para el pie de página

// Importamos las variables
@import "../utilities/variables";

// Importamos los mixins
@import "../utilities/mixins";


footer{
    // Aplicamos tamaño y altura al footer
    @include dimensiones($tamaniofooter,350px);
    bottom: 0;
    margin-top: 6%;
    @include colorFondo($fondoHeader,$grisOscuro); // Include para introducir el color y el fondo
    padding: 2%;
    border-top: solid $rojo 6px;

    h1{
        font-size: $tamanioh1; // Asiganmos un tamaño a la letra
        // Asignamos unos margenes
        margin-left: 10%;
        margin-bottom: 1%;
    }

    iframe{
        // Lo flotamos a la derecha, le asignamos un tamaño y le ajustamos los margenes
        float: left;
        @include dimensiones(400px,300px); // Include para añadir anchura y altura
        margin-left: 2%;
    }
    ul{
        float: left;
        list-style: none; // Quitamos los estilos por defecto de una lista
        display: block;
        margin-left: 8%;
        font-size: $tamanioLetraPie;
        color:  $fondoHeader;
        p{
            color: $colorFondo;
            margin-bottom: 15%;
        }
        li{
            // Quitamos los estilos por defecto de una lista
            list-style:none;
            display:block;  // Ponemos la lista una debajo de la otra
            margin-bottom: 18%;
        }
        a{
            color: $fondoHeader;
            @include transiciones(color,1s);  // Aplicamos una transicion que cambia el color
            &:hover{
                color: $rojo;
                text-decoration: none;
            }
        }
    }
    hr{
        // Lo flotamos hacia la derecha
        float: left;
        @include dimensiones($tamaniohr,2px); // Le introducimos unas dimensiones 
        background-color: $fondoHeader;  // Introducimos un fondo
        // Ajustamos unos margenes
        margin-top:2%;
        margin-left: 6%;
        // Ajustamos los bordes
        border: solid $fondoHeader;
        border-radius: 10px 10px 10px 10px;
    }
}