// Estilos para los formularios
// Importamos las variables
@import "../utilities/variables";

// Importamos los mixins
@import "../utilities/mixins";

form{
    margin:auto;
    @include colorFondo($negro,$fondoHeader);  // Introducimos el color y el fondo
    padding: 2%;
    border-radius: 8px 8px 8px 8px; // Bordemaos un poco los margenes
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); // Introducimos un efecto de sombra
    line-height: 25px;
    margin-top: 6%;
    width: $tamanioForm;

    &.login{
        float: left; // Flotamos a la derecha
        @include dimensiones($tamanioLogin,$tamanioLogin); // Asiganmos la anchura y la altura

        // Estilos para los checkbox que estan dentro de un formulario
        input[type="checkbox"]{
            @include dimensiones(10%,6%); // Asiganmos la anchura y la altura
            display: block;
            margin-bottom: 4%;
        }
    
        
        h1 span{
            color: #dd2a1b;
        }
        
    }

    &.cambiaContrasenia{
        // Flotamos a la derecha
        float: left;
        height: 280px; // Asignamos una altura
    }

    // Estilos para el formulario con la clase examen
    &.examen{
        @include dimensiones(80%,80%); // Asignamos la altura y la anchura 
    
        // Estilos para los input que no son botones
        input:not([type="submit"]){
            font-size: $tamanioLetra;
            @include dimensiones(40%,5%);  // Introducimos la anchura y la altura
            padding: 5px;

            &.pequenio{
                width: 6%;
            }

        }
        // Estilos para los input que son botones
        input[type="submit"]{
            margin-top: 8%;
            margin-left: 45%;
            @include dimensiones(100px,50px);
        }
    
        section{
            float: left;
            width: 700px; // Introducimos una anchura
            // Ajustamos los margenes
            margin: 0;
            margin-left: 5%;
            margin-bottom: 2%;
        }

        // Estilos para el icono de busqueda
        span{
            &.fa-search{
                position:absolute;
                margin-top: 6%;
                margin-left: 8%;
            }
        }

        // Estilos para el filtro
        #filtro{
            float: left;
            margin-top: 2%;
            border-radius: 20px 20px 20px 20px;  // Aplicamos un borde redondeado
            font-size: $tamanioLetra;
            width: 18%;
            padding: 5px;
            padding-left: 10px;
        }
    }

    // Estilos para el formulario de preguntas
    &.pregunta{
        width: 580px;

        // Estilos para los input que no son botones
        input[type="text"]{
            font-size: $tamanioLetra;
            @include dimensiones(70%,5%);
            margin-left: 5%;
            padding: 5px;
        }

        // Estilos para los input que no son botones
        input[type="radio"]{
            float: left;
            @include dimensiones(15px,15px); // Ajustamos el tamaño
            margin-left: 5%;
            
        }

        label{
            margin-top: 2%;
        }

        input[type="file"]{
            font-size: $tamanioLetra;
        }
    }

    // Estilos para el mensaje de error
    p{
        color: red;
        margin-left: 10%;
        position: absolute;
        font-size: 100%;   
        font-weight: bold;
    }

    h1{
        font-family: letraH1;
        text-align: center;  // Centramos el texto
        font-size: 160%;  // Le aplicamos un tamaño a la letra
        margin-bottom: 3%;
      }

    label{
        display: block;
        color: black;
        font-size: 130%;
        text-align: left;
    }

    input[type="text"]{
        border-radius: 5px 5px 5px 5px;  // Aplicamos un borde redondeado 
        font-size: 120%;
        width: $tamanioInput;
        padding: 2%;
        @include transiciones(box-shadow,1s);  // Aplicamos una transición de sombreado a las cajas de texto

        &:hover{
            box-shadow: 0px 8px 8px $negro; // Introducimos un efecto de sombra;
        }
    }

    // Estilos para los input del tipo file
    input[type="file"]{
        border-radius: 5px 5px 5px 5px;  // Aplicamos un borde redondeado 
        font-size: 120%;
        width: $tamanioInput;
        padding: 2%;
    }

    // Estilos para los input del tipo password
    input[type="password"]{
        border-radius: 5px 5px 5px 5px;  // Aplicamos un borde redondeado 
        font-size: 120%;
        width: $tamanioInput;
        padding: 2%;
    }

    // Estilos para los input del tipo password
    input[type="date"]{
        border-radius: 5px 5px 5px 5px;  // Aplicamos un borde redondeado 
        font-size: 120%;
        width: $tamanioInput;
        padding: 2%;
    }
    

    .recuerdame{
        float: left;
    }

    // Estilos para los select que estan dentro de un formulario
    select{
        width: 150px;
        padding: 3px;
        font-size: 130%;
        margin-bottom: 3%;
    }

    table{
        display: inline;
    }

    .modificacion:read-only{
        display: block;
    }

    .insertar{
        display: none;
    }

    span{
        font-weight: bold;
        color: $rojo;
    }
        
    
}





