// Estilos para el pie de página

// Importamos las variables
@import "../utilities/variables";

// Importamos los mixins
@import "../utilities/mixins";

// Estilos para los input de tipo boton
input[type="submit"]{
    font-size: $tamanioLetra;  // Asignamos un tamaño a la letra
    border-radius: 5px 5px 5px 5px;
    @include colorFondo($fondoHeader,$rojo);
    border-color: $rojo ;

    @include transicionesSinPropiedad(1s);

    &:hover{
        @include transformscale();
    }
}


.paginacion{
    // Ajustamos los margenes
    margin-left: 37%;
    margin-top: 3%;
    button{
        width: $tamanioBotonPag;  // Ajustamos el tamaño
        font-size: $tamanioLetra; // Ajustamos el tamaño de la letra
        @include colorFondo($fondoHeader,$grisClaro); // Le añadimos el color y el fondo
        border-color: $grisClaro;
        @include transiciones(background-color,1s); // Le introducimos una transicion

        &.activo{
            background-color: $rojo;
        }
        &:hover{
            background-color: $rojo;
        }
    }
}

