// Estilos para el pie de página

// Importamos las variables
@import "../utilities/variables";

// Importamos los mixins
@import "../utilities/mixins";

main{
    // Contenedor para meter dentro de el todas las preguntas
    &#contenedorExamen{
        width: 70%;
        margin-left: 15%;

        .desactivo{
            display: none;
        }
        
        // En cada section se guarda la pregunta
        section{
            width: 100%;
            border-radius: 10px 10px 10px 10px;
            background: $fondoHeader;
            display: inline-block;
            padding: 2%;
            box-shadow: 0px 8px 8px $negro;

            // Estilos para el h1 de las preguntas
            h1{
                font-family: letraH1;
                float: left;
                font-size: 127%;
            }
            
            // Estilos para los h2
            h2{
                float: left; // Flotamos a la derecha
                margin-left: 2%;
                font-size: 130%;
                width: 570px;
                // Ajustamos los margenes
                margin-right: 3%;
                margin-bottom: 3%;
            }

            // Estilos para las imagenes de las preguntas
            img{ 
                float: left;
                margin-top: 3%;
                @include dimensiones(300px,300px);  // Include para las dimensiones
                margin-right: 1%;
            }


            div{
                display: block;
                font-size: 130%;
                // Ajustamos los margenes
                margin-top: 2%;
                margin-left: 40%;
            }
            
        }
    }
}