table{
    position: relative;
	background-color: #3e4750;
	text-align: left;
	border-collapse: collapse;
	width: 50%;
    height: 200px;
    overflow-y: scroll;
    color: white;
    thead{
        background-color: #ff0000;
        border-bottom: solid 5px black;
        color: white;
    }
    th, td{
        padding: 20px;
    }
    
    tr{
        &:nth-child(even){
            background-color: #242b31 ;
        }
        
        &:hover td{
            background-color: red;
            color: white;
        }

        &.desactivado{
            display: none;
        }
    }
    
}

.tablaExamen{
    float: left;
    width: 45%;
    margin-left: 4%;
}








