// Estilos para las tablas

// Importamos las variables
@import "../utilities/variables";

// Importamos los mixins
@import "../utilities/mixins";

table{
	background-color: $grisClaro;
	border-collapse: collapse;
    margin-left: 14%;
    @include dimensiones(75%,200px); // Incluimos las dimensiones

    color: $fondoHeader;
    thead{
        @include colorFondo($fondoHeader,$rojo); // Asignamos color y fondo
        border-bottom: solid 5px $negro;
    }
    th{
        font-family: 'Viga', sans-serif;; // Le ponemos un tipo de fuente a los th distinto a los demás
    }
    th, td{
        padding: 20px;
        text-align: center;
    }
    
    tr{
        &.marcado{
            border:3px solid blue;
        }
        // Esta clase sirve para ocultar algunos tr
        &.oculto{
            display:none; 
        }
        // A los pares les mete el fondo grisOscuro
        &:nth-child(even){
            background-color: $grisOscuro ;
        }
        
        &:hover td{
            background-color: $rojo;
            color: white;
        }

        &.desactivado{
            display: none;
        }
    }
    
}

.tablaExamen{
    float: left;
    @include dimensiones(550px,600px); // Añadimos las dimensiones
    margin-left: 4%;
    overflow-y: scroll; // Le añadimos el scroll

    th, td{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}









